/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* header */

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 2rem;
  margin-bottom: 6rem;
  height: 70rem;
}

.logo {
  font-size: 2.4rem;
  color: #f9faf8;
  font-weight: 900;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

ul li a {
  font-size: 1.8rem;
  color: #e5e7eb;
  transition: all ease-in 2s;
}

ul li a:hover {
  text-decoration: underline;
}

section {
  padding-block: 10rem;
}

.container {
  width: min(100% - 3rem, 1208px);
  margin-inline: auto;
}

/* hero  */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.col-one {
  flex: 1;
}

.col-two {
  flex: 1;
}

.col-one h1 {
  font-size: 4.8rem;
  color: #f9faf8;
  font-weight: 900;
}

.col-one p {
  font-size: 1.8rem;
  color: #f9faf8;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.col-one .btn {
  color: #f9faf8;
  font-size: 1.8rem;
  font-weight: 900;
  background-color: #3882f6;
  border-radius: 1rem;
  padding: 1rem 3rem;
  transition: brightness 0.2s;
}

.col-one .btn:hover {
  filter: brightness(0.9);
}

.col-two img {
  width: 900px;
}

/*  Section About */
#about {
  margin-bottom: 4rem;
}

#about h2 {
  font-size: 3.6rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 3rem;
}


.cards_container {
  display: flex;
  justify-content: center;
  gap: 5rem;

}

.cards_container div {
  width: 200px;

}

.cards_container img {
  border: 3px solid #3882f6;
  border-radius: 1rem;
  transition: transform 300ms;
}

.cards_container img:hover {
  transform: scale(1.1);
}

.cards_container p {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0.8rem;
  line-height: 1.2
}


/* testimonials */

#testimonials {
  background-color: #e5e7eb;
  font-size: 3.6rem;
  font-style: italic;
  color: #1f2937;
  padding-block: 8rem;
}

#testimonials blockquote {
  text-align: center;
}

#testimonials cite {
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  display: block;
}


/* contact */

#contact .container {
  background-color: #3882f6;
}


#contact h3,
#contact p,
#contact a {
  color: #f9faf8;

}

#contact h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

#contact p {
  font-size: 1.8rem;

}

#contact .btn-secondary {
  font-size: 1.8rem;
  border: 1px solid #f9faf8;
  border-radius: .5rem;
  padding: 1rem 3rem;
  transition: background-color 0.2s;
}

#contact .btn-secondary:hover {
  background-color: #f9faf8;
  color: #1f2937;
}

#contact .call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}


footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 7rem;
  text-align: center;
  font-size: 1.8rem;

}
