/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: min(100% - 2rem, 960px);
  margin-inline: auto;
}

/* header */

.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
